{"openapi":"3.0.4","info":{"version":"1.0","title":"My API","description":""},"servers":[{"url":"http://li-819025cc-34a5-11b2-a85c-ba699012569d.ibm.com:8080"}],"paths":{"/api/assetAttributes":{"get":{"summary":"get a assetattributes","operationId":"get_assetattributes","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"result":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/doc/openapi":{"get":{"summary":"get a string","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}},"/health/ping":{"get":{"summary":"get a string","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}},"/api/parent_child":{"get":{"summary":"get a parent_child","operationId":"get_parent_child","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"child":{"type":"string"},"Parent":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/doc/openapi.json":{"get":{"summary":"get a string","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}}}}