{"openapi":"3.0.4","info":{"version":"1.0","title":"My API","description":""},"servers":[{"url":"http://li-819025cc-34a5-11b2-a85c-ba699012569d.ibm.com:8080"}],"paths":{"/api/entities":{"get":{"summary":"get a Static(entities)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(entities)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"name":{"type":"string"}}}}}}}},"/api/parent":{"get":{"summary":"get a Static(parent)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(parent)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}}},"/api/embeddings/embedding_id":{"get":{"summary":"get a Static(embeddings)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","format":"int32"}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(embeddings)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","format":"int32"}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"delete":{"summary":"delete a Static(embeddings)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","format":"int32"}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"default":{"description":"Error"}}}},"/doc/openapi":{"get":{"summary":"get a Static(openapi)","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}},"/api/asset_product":{"get":{"summary":"get a Static(asset_product)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"product_id":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(asset_product)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"product_id":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"product_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}}}}}}}}},"/api/practices":{"get":{"summary":"get a Static(practices)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string"}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(practices)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string"}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}}},"/doc/openapi.json":{"get":{"summary":"get a Static(openapi.json)","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}},"/api/assets/asset_id":{"get":{"summary":"get a Static(assets)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(assets)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string","items":{"type":"string"}},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string","items":{"type":"string"}},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string","items":{"type":"string"}},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string","items":{"type":"string"}},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string","items":{"type":"string"}},"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"delete":{"summary":"delete a Static(assets)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}}},"/api/comments/comment_id":{"get":{"summary":"get a Static(comments)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(comments)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"created_by":{"type":"string","items":{"type":"string"}},"item_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"comment_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"creator_name":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(comments)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/asset_types":{"get":{"summary":"get a Static(asset_types)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string"}},"type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(asset_types)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string"}},"type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"type_name":{"type":"string"}}}}}}}},"/api/attributevalues":{"get":{"summary":"get a Static(attributevalues)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(attributevalues)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}}},"/api/products":{"get":{"summary":"get a Static(products)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string"}},"product_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(products)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string"}},"product_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"product_name":{"type":"string"}}}}}}}},"/api/attributes":{"get":{"summary":"get a Static(attributes)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(attributes)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"name":{"type":"string"}}}}}}}},"/api/comments":{"get":{"summary":"get a Static(comments)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(comments)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"created_by":{"type":"string"},"item_id":{"type":"string","format":"UUID4"},"comment_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"creator_name":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"comment_value":{"type":"string"}}}}}}}},"/api/actions/action_id":{"get":{"summary":"get a Static(actions)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(actions)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"action_user":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string","items":{"type":"string"}},"related_asset":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"delete":{"summary":"delete a Static(actions)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}}},"/static/":{"get":{"summary":"get a WildCard()","operationId":"get_string","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Error"}}}},"/api/collections/collection_id":{"get":{"summary":"get a Static(collections)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(collections)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"collection_description":{"type":"string","items":{"type":"string"}},"collection_owner_name":{"type":"string","items":{"type":"string"}},"collection_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"collection_owner":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string","items":{"type":"string"}},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"delete":{"summary":"delete a Static(collections)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}}},"/api/asset_collection/asset_id/collection_id":{"get":{"summary":"get a Static(asset_collection)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"default":{"description":"Error"}}},"delete":{"summary":"delete a Static(asset_collection)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"default":{"description":"Error"}}}},"/api/nominations":{"get":{"summary":"get a Static(nominations)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(nominations)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}}},"/api/attributes/id":{"get":{"summary":"get a Static(attributes)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(attributes)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(attributes)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/asset_collection":{"get":{"summary":"get a Static(asset_collection)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(asset_collection)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"collection_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}}}},"/api/asset_types/type_id":{"get":{"summary":"get a Static(asset_types)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string"}},"type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(asset_types)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string"}},"type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"type_name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(asset_types)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type_id":{"type":"string","items":{"type":"string"}},"type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/entityattributes/eid/aid/vid":{"get":{"summary":"get a Static(entityattributes)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"eid":{"type":"string","items":{"type":"string","format":"UUID4"}},"aid":{"type":"integer","items":{"type":"integer","format":"int32"}},"vid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"default":{"description":"Error"}}},"delete":{"summary":"delete a Static(entityattributes)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"eid":{"type":"string","items":{"type":"string","format":"UUID4"}},"aid":{"type":"integer","items":{"type":"integer","format":"int32"}},"vid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"default":{"description":"Error"}}}},"/api/nominations/nomination_id":{"get":{"summary":"get a Static(nominations)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(nominations)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"nominator":{"type":"string","items":{"type":"string"}},"features":{"type":"string","items":{"type":"string"}},"impact":{"type":"string","items":{"type":"string"}},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string","items":{"type":"string"}},"evidence":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"nominator_name":{"type":"string","items":{"type":"string"}},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"delete":{"summary":"delete a Static(nominations)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nominator":{"type":"string"},"features":{"type":"string"},"impact":{"type":"string"},"conclusion":{"type":"string","items":{"type":"string"}},"status":{"type":"string"},"evidence":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"nomination_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"nominator_name":{"type":"string"},"asset_id":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}}},"/api/products/product_id":{"get":{"summary":"get a Static(products)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string"}},"product_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(products)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string"}},"product_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"product_name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(products)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string","items":{"type":"string"}},"product_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/brands":{"get":{"summary":"get a Static(brands)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string"}},"brand_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(brands)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string"}},"brand_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"brand_name":{"type":"string"}}}}}}}},"/api/entities/id":{"get":{"summary":"get a Static(entities)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(entities)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(entities)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/assets":{"get":{"summary":"get a Static(assets)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(assets)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_practice":{"type":"string","items":{"type":"string"}},"asset_link":{"type":"string"},"asset_type":{"type":"string","items":{"type":"string"}},"asset_offering_type":{"type":"string","items":{"type":"string"}},"is_ip_cleared":{"type":"boolean","items":{"type":"boolean"}},"asset_brand":{"type":"string","items":{"type":"string"}},"asset_name":{"type":"string"},"asset_market":{"type":"string","items":{"type":"string"}},"asset_geo":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"asset_owner":{"type":"string"},"asset_rating_avg":{"type":"number","items":{"type":"number","format":"float"}},"updated_at":{"type":"string","items":{"type":"string"}},"asset_description":{"type":"string"},"is_sellable":{"type":"boolean","items":{"type":"boolean"}},"asset_owner_name":{"type":"string"},"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"asset_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/asset_rating":{"get":{"summary":"get a Static(asset_rating)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(asset_rating)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}}},"/api/brands/brand_id":{"get":{"summary":"get a Static(brands)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string"}},"brand_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(brands)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string"}},"brand_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"brand_name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(brands)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"brand_id":{"type":"string","items":{"type":"string"}},"brand_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/parent/id":{"get":{"summary":"get a Static(parent)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(parent)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"paid":{"type":"integer","items":{"type":"integer","format":"int32"}},"caid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"delete":{"summary":"delete a Static(parent)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}}},"/api/offering_types":{"get":{"summary":"get a Static(offering_types)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string"}},"offering_type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(offering_types)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string"}},"offering_type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"offering_type_name":{"type":"string"}}}}}}}},"/api/asset_bookmarks/asset_id/email":{"get":{"summary":"get a Static(asset_bookmarks)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"email":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}},"delete":{"summary":"delete a Static(asset_bookmarks)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"email":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}}},"/api/practices/practice_id":{"get":{"summary":"get a Static(practices)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string"}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(practices)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string"}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"practice_name":{"type":"string","items":{"type":"string"}},"owning_brand":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(practices)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"practice_id":{"type":"string","items":{"type":"string"}},"practice_name":{"type":"string"},"owning_brand":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/actions":{"get":{"summary":"get a Static(actions)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(actions)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}}},"/api/relationship/id":{"get":{"summary":"get a Static(relationship)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(relationship)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"pavid":{"type":"integer","items":{"type":"integer","format":"int32"}},"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"paid":{"type":"integer","items":{"type":"integer","format":"int32"}},"caid":{"type":"integer","items":{"type":"integer","format":"int32"}},"cavid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"delete":{"summary":"delete a Static(relationship)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}}},"/api/entityattributes":{"get":{"summary":"get a Static(entityattributes)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"eid":{"type":"string","items":{"type":"string","format":"UUID4"}},"aid":{"type":"integer","items":{"type":"integer","format":"int32"}},"vid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(entityattributes)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"eid":{"type":"string","items":{"type":"string","format":"UUID4"}},"aid":{"type":"integer","items":{"type":"integer","format":"int32"}},"vid":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"eid":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"aid":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"vid":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}}}}}}}}},"/api/offering_types/offering_type_id":{"get":{"summary":"get a Static(offering_types)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string"}},"offering_type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(offering_types)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string"}},"offering_type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string","items":{"type":"string"}}},"offering_type_name":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(offering_types)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"offering_type_id":{"type":"string","items":{"type":"string"}},"offering_type_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/asset_product/asset_id/product_id":{"get":{"summary":"get a Static(asset_product)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"product_id":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}},"delete":{"summary":"delete a Static(asset_product)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"product_id":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}}},"/api/collections":{"get":{"summary":"get a Static(collections)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(collections)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"collection_description":{"type":"string"},"collection_owner_name":{"type":"string"},"collection_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"collection_owner":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"updated_at":{"type":"string","items":{"type":"string"}},"collection_name":{"type":"string"},"collection_collaborators":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/asset_bookmarks":{"get":{"summary":"get a Static(asset_bookmarks)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"email":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(asset_bookmarks)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"email":{"type":"string","items":{"type":"string"}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"email":{"type":"string","items":{"type":"string","items":{"type":"string"}}}}}}}}}},"/api/attributevalues/id":{"get":{"summary":"get a Static(attributevalues)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(attributevalues)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"aid":{"type":"integer","items":{"type":"integer","format":"int32"}},"value":{"type":"string","items":{"type":"string"}}}}}}}},"delete":{"summary":"delete a Static(attributevalues)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"aid":{"type":"integer","format":"int32"},"value":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/relationship":{"get":{"summary":"get a Static(relationship)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(relationship)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","format":"int32"}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"pavid":{"type":"integer","format":"int32"},"id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"paid":{"type":"integer","format":"int32"},"caid":{"type":"integer","format":"int32"},"cavid":{"type":"integer","format":"int32"}}}}}}}},"/api/asset_rating/rating_id":{"get":{"summary":"get a Static(asset_rating)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"patch":{"summary":"patch a Static(asset_rating)","operationId":"patch_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"rating_value":{"type":"number","items":{"type":"number","format":"float"}},"createdby":{"type":"string","items":{"type":"string"}},"related_asset":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}},"delete":{"summary":"delete a Static(asset_rating)","operationId":"delete_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"rating_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"rating_value":{"type":"number","format":"float"},"createdby":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}}},"/api/embeddings":{"get":{"summary":"get a Static(embeddings)","operationId":"get_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","format":"int32"}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a Static(embeddings)","operationId":"post_persistedfield","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","format":"int32"}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"embedding_id":{"type":"integer","items":{"type":"integer","items":{"type":"integer","format":"int32"}}},"asset_id":{"type":"string","format":"UUID4"},"embedding_vector":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}}}}}}}}}