{"openapi":"3.0.4","info":{"version":"1.0","title":"My API","description":""},"servers":[{"url":"http://li-819025cc-34a5-11b2-a85c-ba699012569d.ibm.com:8080"}],"paths":{"/api/assets":{"get":{"summary":"get a org.pwharned.sql.database.hkd.persisted[t]","operationId":"get_org.pwharned.sql.database.hkd.persisted[t]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a org.pwharned.sql.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> org.pwharned.app.assets2[f]]","operationId":"post_org.pwharned.sql.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> org.pwharned.app.assets2[f]]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"asset_name":{"type":"string"}}}}}}},"delete":{"summary":"delete a org.pwharned.sql.database.hkd.persisted[t]","operationId":"delete_org.pwharned.sql.database.hkd.persisted[t]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_name":{"type":"string"}}}}}}},"default":{"description":"Error"}}}},"/api/assets/asset_id":{"patch":{"summary":"patch a org.pwharned.sql.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> org.pwharned.app.assets2[f]]","operationId":"patch_org.pwharned.sql.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> org.pwharned.app.assets2[f]]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"asset_name":{"type":"string"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"asset_name":{"type":"string","items":{"type":"string"}}}}}}}}}}}