{"openapi":"3.0.4","info":{"version":"1.0","title":"My API","description":""},"servers":[{"url":"http://li-819025cc-34a5-11b2-a85c-ba699012569d.ibm.com:8080"}],"paths":{"/api/actions/action_id":{"patch":{"summary":"patch a org.pwharned.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> generated.actions[f]]","operationId":"patch_org.pwharned.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> generated.actions[f]]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"action_user":{"type":"string","items":{"type":"string"}},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string","items":{"type":"string"}},"related_asset":{"type":"string","items":{"type":"string","format":"UUID4"}}}}}}}}},"/api/actions":{"get":{"summary":"get a org.pwharned.database.hkd.persisted[t]","operationId":"get_org.pwharned.database.hkd.persisted[t]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}},"post":{"summary":"post a org.pwharned.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> generated.actions[f]]","operationId":"post_org.pwharned.database.hkd.persisted[[f >: scala.nothing <: [_$1 >: scala.nothing <: scala.any] =>> scala.any] =>> generated.actions[f]]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}},"requestBody":{"description":"A correctly formatted request","content":{"application/json":{"schema":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","items":{"type":"string","format":"UUID4"}}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"delete":{"summary":"delete a org.pwharned.database.hkd.persisted[t]","operationId":"delete_org.pwharned.database.hkd.persisted[t]","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"action_id":{"type":"string","items":{"type":"string","format":"UUID4"}},"action_user":{"type":"string"},"created_at":{"type":"string","items":{"type":"string"}},"action_type":{"type":"string"},"related_asset":{"type":"string","format":"UUID4"}}}}}}},"default":{"description":"Error"}}}}}}